@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,700&family=Rubik+80s+Fade&display=swap");

* {
    box-sizing: border-box;
}


html {
    height: 100%;
}

:root {
    --primary-color: #20234d;
    --secondary-color: #8fced4;
}

body {
    height: 100%;
    background: linear-gradient(45deg,
            var(--primary-color),
            var(--secondary-color));
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--secondary-color); */
    background: linear-gradient(-45deg,
            var(--primary-color),
            var(--secondary-color));
}

header ul li {
    font-size: 22px;
    font-family: cursive;
    list-style: none;
    border-radius: 5px;
    background: linear-gradient(-45deg,
            var(--primary-color),
            var(--secondary-color));
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;
}

header ul li:hover {
    background: linear-gradient(-45deg, #c3c3c3, #fff);
    color: var(--secondary-color);
}
h1{
    text-align: left;
    margin-left: 3%;
}
 .header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 form {
     margin-right: 3%;
 }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

.movie {
    width: 300px;
    /* margin: 1rem; */
    border-radius: 3px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}



.movie-info span.rating {
    color: orange;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}


.know-more {
    background-color: #222550;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
form {
    margin-block: 20px;
}

form {
    display: flex;
    align-items: center;
}

#search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
}

.searchbtn {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.searchbtn:hover {
    background-color: #0056b3;
}





@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.embed.hide {
    display: none;
}

.embed.show {
    display: inline-block;
}






